body {
  background-color: rgb(48, 79, 108);
}

.namehead {
  color:rgb(244,217,255);
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  margin: 0;
}

.navbar {
  height: 4em;
  align-items: center;
  display: flex;
  border: solid 4px rgb(183, 243, 226);
  border-radius: 10px;
}

.navbar a {
  color:rgb(183, 243, 226);
}

.navleft img {
height: 50px;
}

.navleft {
  flex: 1;
}

.navright a {
  font-size: 25px;
  align-items: right;
}

.link {
  float:left;
}

.navright{
  flex: 1;
}

.main{
  display: flex;
  align-items: center;
}

.left{
  flex: 1;
  margin-left: 10em;
}

.left img{
  margin: 25px;
  margin-left: 0;
}

.left p , h2, h3{
  text-align: left;
  margin: 3px;
}

.title {
  color: rgb(183, 243, 226);
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}


.right{
  flex: 1;
  color: rgb(240, 222, 247);
  margin: 4em;
  height: 50em;
}

h2{ 
  color:rgb(244,217,255);
}

h3 {
  color: rgb(183, 243, 226);
}
.resumebody{
  display: flex;
}

.leftbar {
  color: rgb(247, 237, 250);
  flex: .5;
  border: solid 4px rgb(183, 243, 226);
  border-radius: 10px;
  margin: 4em;
  padding: 5px; 
}

.leftbar h3, p{
  font-size: 20px;
}

.leftbar h2 {
  font-weight: bolder;
  font-size: 30px;
}

.resumeright {
  color: rgb(234, 228, 236);
  flex:2;
  border: solid 4px rgb(183, 243, 226);
  border-radius: 10px;
  margin: 4em;
  padding: 10px;
}

.resumeright h2 {
  font-weight: bolder;
  font-size: 3em;
}

.resumeright h3 {
  font-weight: bolder;
  font-size: 1.5em;
}

.resumeright p, ul{
  font-size: 25px;
  margin: 2px;
  padding-top: 5px;
}

a {
  color: rgb(183, 243, 226);
}

.contact h1 {
  font-size: 40px;
  color: rgb(183, 243, 226);
}
.contact p{
  font-size: 30px;
  color: rgb(244,217,255);
  padding: 10px;
}

.contactbody{
  display: flex;
}

.contact{
  flex: 1;
  margin: 50px;
}

.croatia{
  flex: .75;
  margin: 50px;
  height: 75px;
}

.video1{
  margin: 30px;
}