body {
  background-color: rgb(48, 79, 108);
}

.namehead {
  color: rgb(215, 134, 211);
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
}

.navbar {
  background-color: rgb(215, 160, 215);
  height: 4em;
  align-items: center;
  display: flex;
}

.navleft img {
height: 50px;
}

.navleft {
  flex: 1;
}

.navright a {
  font-size: 25px;
  align-items: right;
}

.link {
  float:left;
}

.navright{
  flex: 1;
}

.main{
  display: flex;
  align-items: center;
}

.left{
  text-align: center;
  flex: 1;
}

.left img{
  height: 600px;
}


.right{
  flex: 1;
  background-color: plum;
  margin: 4em;
  height: 50em;
}

.resumebody{
  display: flex;
}

.leftbar {
  flex: .5;
  border: solid rgb(119, 38, 104) 4px;
  margin: 4em;
  padding: 5px; 
}

.leftbar h3, p{
  font-size: 20px;
}

.leftbar h2 {
  font-weight: bolder;
  font-size: 30px;
}

.resumeright {
  flex:2;
  border: solid rgb(119, 38, 104) 4px;
  margin: 4em;
  padding: 10px;
}

.resumeright h2 {
  font-weight: bolder;
  font-size: 3em;
}

.resumeright h3 {
  font-weight: bolder;
  font-size: 1.5em;
}

.resumeright p, ul{
  font-size: 25px;
  margin: 2px;
  padding-top: 5px;
}
