.navbar {
  background-color: rgb(215, 160, 215);
  height: 4em;
  align-items: center;
  display: flex;
}

.navleft img {
height: 50px;
}

.navleft {
  flex: 1;
}

.navright a {
  font-size: 25px;
  align-items: right;
}

.link {
  float:left;
}

.navright{
  flex: 1;
}

.main{
  display: flex;
  align-items: center;
}

.left{
  text-align: center;
  flex: 1;
}

.left img{
  height: 600px;
}


.right{
  flex: 1;
  background-color: plum;
  margin: 4em;
  height: 50em;
}