<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <title>About Me</title>
</head>
<body>
<div class="navbar">
  <div class="navleft">
    <a href=""><img src="/static/img/linkedin.png" alt="linkedin icon"></a>
    <a href=""><img src="/static/img/instagram-new.png" alt="instagram icon"></a>
    <a href=""><img src="/static/img/github.png" alt="github icon"></a>
    <a href="mailto:vxq5000@gmail.com"><img src="/static/img/email.png" alt="email icon"></a>
  </div>

  <div class="navright">
    <a href="/">Home </a>
    <a href="/resume">| Resume </a>
    <a href="/projects">| Projects </a>
    <a href="">| Travels </a>
    <a href="/contact">| Contact</a>
  </div>
</div>
<div class="contactbody">

  <div class="contact">
    <h1>Contact Information</h1>
    <p>Email: <a href="mailto:vxq5000@gmail.com">vxq5000@gmail.com</a></p>
    <p>Phone: 267-475-3988</p>
    <p>LinkedIn: <a href="http://www.linkedin.com/in/venus-quan">http://www.linkedin.com/in/venus-quan</a></p>
    <p>GitHub: <a href="http://www.github.com/vxq5000">http://www.github.com/vxq5000</a></p>
  </div>
  
  <div class="croatia">
    <img src="/static/img/croatia.jpg" alt="croatia">
  </div>
  </div>
</body>
</html>