<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <title>About Me</title>
</head>
<body>
<div class="navbar">
  <div class="navleft">
    <a href=""><img src="/static/img/linkedin.png" alt="linkedin icon"></a>
    <a href=""><img src="/static/img/instagram-new.png" alt="instagram icon"></a>
    <a href=""><img src="/static/img/github.png" alt="github icon"></a>
    <a href=""><img src="/static/img/email.png" alt="email icon"></a>
  </div>

  <div class="navright">
    <a href="/">Home </a>
    <a href="/resume">| Resume </a>
    <a href="">| Projects </a>
    <a href="">| Travels </a>
    <a href="">| Contact</a>
  </div>
</div>

<div class="main">
    <div class="left">
      <p class="namehead">Venus Quan</p>
      <h2>Full Stack Software Engineer</h2>
      <h4>San Francisco Bay Area</h4>
      <img src="/static/img/Manavillage.jpg" alt="Mana Village Picture">
    </div>
    
    <div class="right">
      <p class="about1">
        Hello! I'm Venus, a software engineer based in the San Francisco Bay area. Thank you for checking this out. Please have a look around! 
      </p>
      <h1>About Me</h1>
      <p class="about2">
        I just completed the software engineering program at Coding Dojo for fullstack MERN and Python. I have worked as a procurement analyst and have some experience working in agile software development through an internship as well. After being laid off due to Covid19, I decided it was time for a career change. I chose software development because of the opportunity to continually learn, the environment of being able to collaborate with a team, and lastly because it allows me to be creative. In my spare time I love to travel, hike with my dogs, and read. Please take a look at my projects as well as my resume in the links above!
      </p>
    </div>
</div>
</body>
</html>