<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Me</title>
</head>
<body>
<div class="nav">
  <a href="">Home </a>
  <a href="">| Resume </a>
  <a href="">| Projects </a>
  <a href="">| Travels </a>
  <a href="">| Contact</a>
</div>

<div class="left">
  <h1 class="namehead">Venus Quan</h1>
  <h2>Full Stack Software Engineer</h2>
  <h4>San Francisco Bay Area</h4>
  <img src="/static/img/Manavillage.jpg" alt="Mana Village Picture">
</div>
</body>
</html>