<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Resume</title>
</head>
<body>
  <div class="navbar">
    <div class="navleft">
      <a href=""><img src="/static/img/linkedin.png" alt="linkedin icon"></a>
      <a href=""><img src="/static/img/instagram-new.png" alt="instagram icon"></a>
      <a href=""><img src="/static/img/github.png" alt="github icon"></a>
      <a href=""><img src="/static/img/email.png" alt="email icon"></a>
    </div>
  
    <div class="navright">
      <a href="" class="link">Home </a>
      <a href="" class="link">| Resume </a>
      <a href="" class="link">| Projects </a>
      <a href="" class="link">| Travels </a>
      <a href="" class="link">| Contact</a>
    </div>
  </div>

  <h1>Venus Quan</h1>
  <div class="resumebody">
    <div class="skills">
      <h2>Technical Skills</h2>
        <h3>Languages:</h3>
        <p>Python, JavaScript, HTML, CSS</p>
        <h3>Frameworks/Libraries:</h3>
        <p>Django, Express, React, Node.js, Bootstrap, Flask, Mongoose</p>
        <h3>Databases:</h3>
        <p>MySQL, MongoDB</p>
        <h3>Tools:</h3>
        <p>Git, GitHub, Balsamiq, Postman, Figma</p>
        <h3>ERP/CRM:</h3>
        <p>SAP, Salesforce, NetSuite, Ariba, ServiceNow</p>
      <h2>Education/Certifications:</h2>
      <h3>Coding Dojo Bootcamp</h3>
      <p>Full Stack Developer Certificate | Python and MERN</p>
      <h3>Temple University, Fox School of Business</h3>
      <p>Bachelor of Business Administration, International Business</p>
    </div>
    <div class="experience">
      <h2>Technical Projects</h2>
      <h2>Professional Experience</h2>
    </div>
  </div>
</body>
</html>

