<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
  <title>Resume</title>
</head>
<body>
  <div class="navbar">
    <div class="navleft">
      <a href=""><img src="/static/img/linkedin.png" alt="linkedin icon"></a>
      <a href=""><img src="/static/img/github.png" alt="github icon"></a>
      <a href=""><img src="/static/img/email.png" alt="email icon"></a>
    </div>
  
    <div class="navright">
      <a href="/">Home </a>
      <a href="/resume">| Resume </a>
      <a href="/projects">| Projects </a>
      <!-- <a href="">| Travels </a> -->
      <a href="/contact">| Contact</a>
    </div>
  </div>

  <div class="resumebody">
    <div class="leftbar">
      <h2>Technical Skills:</h2>
        <h3>Languages:</h3>
        <p>Python, JavaScript, HTML, CSS</p>
        <h3>Frameworks/Libraries:</h3>
        <p>Django, Express, React, Node.js, Bootstrap, Flask, Mongoose</p>
        <h3>Databases:</h3>
        <p>MySQL, MongoDB</p>
        <h3>Tools:</h3>
        <p>Git, GitHub, Balsamiq, Postman, Figma</p>
        <h3>ERP/CRM:</h3>
        <p>SAP, Salesforce, NetSuite, Ariba, ServiceNow</p>
      <h2>Education/Certifications:</h2>
      <h3>Coding Dojo Bootcamp</h3>
      <p>Full Stack Developer Certificate | Python and MERN</p>
      <h3>Temple University, Fox School of Business</h3>
      <p>Bachelor of Business Administration, International Business</p>
    </div>
    <div class="resumeright">
      <h2 class="projects">Technical Projects</h2>
        <h3>Skincare Routine App | Create skincare routines and learn about skincare products</h3>
        <p>Built with: Python, Flask, MySQL, Bootstrap, HTML, CSS</p>
        <ul>
          <li>Built an OOP based web application with Python for it's readability and ease as a first programming language</li>
          <li> Developed a database to communicate between client ,server, and MySQL, handled user sessions, and defined
            routes using Flask to render user information in templates</li>
          <li> Designed application using a combination of bootstrap as well as CSS to create a clean background and styling</li>
          <li> Implemented an algorithm using Jinja in Flask to set default values in a drop down when a user edits their
            routine</li>
        </ul>
        <h3>Grocery Swap App | Application used for trading excess groceries in your neighborhood to reduct food waste</h3>
        <p>Built with: JavaScript, MongoDB, Express, React.js, Node.js, HTML, CSS</p>
        <ul>
          <li> Implemented one to many relationships using MongoDB in our application so that users can communicate with
            each other for trade</li>
          <li>Created login and registration using MongoDB and Bcrypt to hash password and to secure sensitive user
            information</li>
          <li> Kept application updated on user data using React, JSX, and components for a quality user experience</li>
          <li>Dynamically rendered HTML pages and handled HTTP requests using Express</li>
        </ul>
      <h2>Professional Experience</h2>
        <h3>Account Coordinator | Pyramid Consulting | 2019-2020</h3>
        <ul>
          <li>Coordinated with Account Managers to communicate job orders and identify qualified candidates</li>
          <li>Oversaw candidates and scheduled interviews with hiring managers</li>
          <li>Conducted meetings with Managers and Directors to learn about their organization and their business needs</li>
        </ul>
        <h3>Purchasing Specialist | Clarivate Analytics | 2018-2019</h3>
        <ul>
          <li>Generated NetSuite requisitions and initiated the creation of purchase items in P2P items roster</li>
          <li>Monitored Purchase Orders to ensure they were received by the Supplier</li>
          <li>Engaged and managed key clients’ relationships including issue resolution as well as assisting special team projects</li>
          <li>Resolved issues with necessary approvals based on the established Commitment Level Authority Policy and
            escalated issues to Accounts Payable team to update approval levels
          </li>
        </ul>
        <h3>Procurement Operations Associate | Accenture | 2018</h3>
        <ul>
          <li>Audited purchase requisitions for client by looking over contracts, accounting details, and communicating with end users</li>
          <li>Performed data reports using both Ariba and SAP to ensure data in both systems were aligned</li>
          <li> Resolved cases using ServiceNow to help end users with problems regarding Purchase Orders, delegations, and training</li>
        </ul>
        <h3>Summer Operations Analyst | J.P. Morgan Chase | 2016</h3>
        <ul>
          <li>Trained with project management team on a software development project through agile management implementation</li>
          <li>Communicated daily with IT team as well as operations team to ensure each step of the project is moving forward</li>
          <li>Designed test scripts for street testing after examining project plan and making necessary revisions</li>
          <li>Analyzed data for both UAT and SIT, making sure variances are acceptable during testing using VLOOKUP and
            other functions on Excel</li>
          <li>Built a capacity analysis spreadsheet, which streamlined data from our team of VPs into one spreadsheet with calculations so that it could easily be interpreted using Pivot tables</li>
        </ul>
    </div>
  </div>
</body>
</html>

